.simple-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #000;
    height: 600px; 
    font-size: 2rem;
    backdrop-filter: blur(10px);
    resize: both;
    overflow: hidden;
}

.navContainer {
    display: flex;
    flex: 1;
    gap: 10px;
    /* width: 100%; */
    justify-content: space-around;
    align-items: center;
    font-family: "Kode Mono", monospace;
}
.navContainer>button{
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: #000 0 0 10px 0;

}

.expressionTextArea, .expressionEvaluateArea {
    width: 100%;
    text-align: right;
    font-family: "Kode Mono", monospace;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #423636;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #000;
    background: #C7EEFF;
    backdrop-filter: blur(100px);
    overflow: hidden;
    resize: none;
}

.expressionTextArea{
    flex:3;

}
.expressionEvaluateArea{
    flex:1;
}
.keyContainer{
    flex: 4;
    display: flex; /* Change from grid to flex */
    box-shadow: 0 0 10px 0 #000;
    width: 100%;
}
.expressionEvaluateArea:hover, .expressionTextArea:hover{
    background: #7c7c7c;
}
.numbers,.common-function,.special-function{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1 1 auto;
    
}

button:hover{
    
    cursor: pointer;
    color:aliceblue;
    background: radial-gradient(farthest-corner, #242525, #393b37, #5f5953);
    
}
.numbers>*{
    background-color: #FFD369    ;
    font-family: "Kode Mono", monospace;
    font-weight: 700;
    font-size: 1rem;
    color: #0f0f0f;
}
.common-function>*{
    background-color: #E26241;
    font-family: "Kode Mono", monospace;
    font-weight: 700;
    font-size: 1rem;
    color: #0f0f0f;
}
.special-function>*{
    background-color: #940A37;
    font-family: "Kode Mono", monospace;
    font-weight: 700;
    font-size: 1rem;
    color: #0f0f0f;
}
.clearAll{
    grid-column: span 2;
 }

 .clearAll, .clear, .eqaul{
    background-color: crimson;
 }